@model IEnumerable<VuaDuQua_QLMovie_Phan1.Models.CinemaEntities.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-sec1">
    <h3 class="heading-tittle">Danh Sách Movie</h3>
    @foreach (var item in Model)
     {
        <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
                <div class="men-thumb-item">
                    <img src="~/Content/images/@Html.DisplayFor(modelItem => item.Image)" alt="@item.Name" width="180" height="270" />
                    <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                        </div>
                    </div>
                    <span class="product-new-top">New</span>
                </div>
                <div class="item-info-product ">
                    <h4>
                        <a href="single.html">@Html.DisplayFor(modelItem => item.Name)</a>
                    </h4>
                    <div class="info-product-price">
                        <span class="item_price">@Html.DisplayFor(modelItem => item.Price)</span>
                    </div>
                </div>
            </div>
        </div>
     }

    <div class="clearfix"></div>
</div>
